@font-face {
    font-family: 'SegoeUI';
    src: url('SegoeUI.woff') format('woff'),
         url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'SegoeUI Bold';
    src: url('SegoeUI-Bold.woff') format('woff'),
         url('SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

